*{margin: 0;padding: 0;outline: 0}
body{font-family: arial;font-size: 14px;line-height: 18px;color: #000;}
.templete{width: 100%; margin: 0 auto;}
.clear{overflow: hidden;}
.headersection{height: 85px;background:#006666; color:#fff; }
.headersection h2{font-size: 40px;text-align: center;padding-top: 30px;}
.navsection{ height: 30px; background: #9A0000;  }
/*.navsection p{padding-left: 50px; font-size: 20px; }*/
.contentsection{background: #fff;}
.maincontent{ width:950px ; height:450px;background:#DFDFDF none repeat scroll 0 0 ;float: left; margin: 15px 15px 15px 0px;padding:15px;}
.maincontent p{font-size: 16px;line-height: 22px;margin-bottom: 15px; word-break: break-all;}
.sidebar{ width:450px; float: right; background: #BABABA none repeat scroll 0 0;margin-top:15px;padding:26px ; }
.samesidebar{}
.samesidebar h2{background:#9A9A9A none repeat scroll 0 0 ;border-bottom:2px solid #555555 ;margin-bottom: 8px;color:#fff ;padding:10px;}
.samesidebar p{margin-bottom: 10px; word-break: break-all;}
.footersection{ height:90px; background: #263238; }
.footersection p{ color: #fff; font-size:30px ; font-weight:bold ;padding-top:30px;text-align:center; ; }
